[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "~=2.8.2"

[packages]
molecule = "~=5.0"
molecule-docker = "~=2.1"
ansible-lint = "~=5.0"
ansible = "~=2.10"
yamllint = "~=1.31"

[requires]
python_version = "3.11"
